div 
    div.gray(style="margin-left:60px;")
        div  创建:&nbsp;#{moment(doc.date).format('YYYY/MM/DD HH:mm:ss')} |&nbsp;更新:&nbsp;#{moment(doc.dateUpdate).format('YYYY/MM/DD HH:mm:ss')}
        div 
            span.blue #{doc.user} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            span   | #{doc.patrolType}  &nbsp;&nbsp;&nbsp;&nbsp;
            span   |  #{doc.zone}      &nbsp;&nbsp;&nbsp;&nbsp;
            span   | #{doc.profession} 
    h4(style="margin:5px 0px;") 
        span.badge.badge-primary(style="color:black;")  #{index+1+(page-1)*20}
        a(href=`${MOUNT}/show/${doc._id}`)   #{doc.text || '(作者忘记写标题了)'} 

    div(style="margin-left:60px;")
        span 附图:
        span.badge.badge-primary(style="color:black;font-size: 1em;") #{doc.files && doc.files.length} 
        span 评论:
        span.badge.badge-primary(style="color:black;font-size: 1em;") #{doc.children && doc.children.length}
    hr