<!DOCTYPE html>
<html>


<head>
  <%- include("./include/head.ejs") %>
</head>

<body>


  <div>共找到<%= records.length  %>条记录：(从2022年11月23日起)</div>
  <% var pages = 5 ; %>
  <ul class="paginatio">
    <% for (let p=1; p<=pages; p++) { %>
      <li class="page-item"><a href="#">p</a></li>
    <% } %>
  </ul>




<% records.sort(function(a,b){return a.dateUpdate-b.dateUpdate}).reverse().forEach(function(record,index){ %>
  <hr style="height: 5px;background-color:#AAA;">
  <!--Start 显示一条记录-->
  <div><span class="badge badge-warning"><%= index %></span></div>
  <div>
    <div class="expand float-right"><a href="/record_patrol/<%= record.id %>"><button>>>...</button></a></div>
    <div>
      <div hidden><div>(id)</div><div id="record_id" ><%= record.id %> </div></div>
      <div class="mygs">
        <%= moment(record.dateUpdate).format('YYYY-MM-DD HH:mm:ss') %>&nbsp;&nbsp;| &nbsp;<%= moment(record.date).format('YYYY-MM-DD HH:mm:ss') %> <br>
        <%= record.user %>&nbsp;&nbsp; | <%= (record.patrolType=='routine')?'日常':'安全' %>  &nbsp;&nbsp; | &nbsp; <%= record.zone %>   <br>      
      </div>
      <div class="myt"><span ><%= record.text %></span></div> 
    </div>

    <div class="showMain">

      
    <div class="files">
        <% if(record.files.length > 0) {%>
            <div>本记录的照片与视频：<b><%=record.files.length  %></b></div>
            <% record.files.reverse().forEach(function(file,index){ %>
                        
                <hr> 
                
                    <div class="file">
                        <div class="fileId" ><%= (typeof file === 'object')?file._id:file %></div>
						<% if(file.text){ %>  <%= file.text %>  <% } %>
                        <%- include('./include/fileShow.ejs',{record:record,file:file,index:record.files.length-index-1,user:user}) %>
						
                        <% if (typeof file === 'object') { %>  <!--如果不是文件名-->
                          <% if (file.children.length > 0 ) { %>  <!--^批注显示-->
                            <div>
                              <% file.children.reverse().forEach(function(review,index){ %>
                                <div >
                                  <%= moment(record.date).format('YYYY-MM-DD HH:mm:ss') %> | <%= review.user %>: <span class="myb"><%= review.text %></span>                                
                                  <% if (review.responsible) { %> <span>跟踪负责人：</span><span class="myb"><%= review.responsible %></span>  <% } %>                                
                                </div>
                              <% }) %>
                            </div>
                          <% } %>   <!--批注显示$-->
                        <% } %>

						<% if(user.username == record.user || user.role == 'admin') { %>
                <div><a href="/record_patrol/<%= record.id %>/file_doc_remove/<%= file._id %>"><button>删除该文件及说明与批注</button></a></div>
            <% } %>
						
                        
            <div class="showReview" ><h4>
                <button>进行批注>></button>
                <div class="recordId" hidden><%= record.id %></div>
                <div class="fileId" hidden><%= file._id %></div>
              </h4></div>

          </div>     
                
               
            <% }) %>  <!--forEach-->
        <% } else{ %>
              无上传照片。
        <% } %>
      <hr>
    </div>  <!--div class="files"-->


    <br><br><br><br><br><br>

    <div class="comments">
        

        <!--Start form 添加评论：-->
        <div class="comments"><h4><button onclick="$('.comment_plus').toggle();">添加评论>></button></h4></div>              
              <div class="comment_plus" style="display:none;" >
                  <form class="form" id="form_comment_plus" action="/comment_plus" method="post" enctype="multipart/form-data" >
                    <div><div>id:</div><div><input type="text" id="id" name="id" value="<%= record.id %>" /></div></div>
                    <div><div>文字:</div><div><textarea id="text" name="text" ></textarea></div></div>
                    <div><div>附件: </div><div><input type="file" id="file" name="file" ></div></div>
                    <div><div><div></div><button class="btn-lg" type="submit" name="submit">上传</button></div></div>
                  </form>
              </div>
        <!--End form 添加评论：-->

        

        显示评论:<%= record.children.length %>
        <p>------------------------------------</p>

        <!--每个评论-->
        <% record.children.sort().reverse().forEach(function(comment,index){ %>
          <div class="comment">
                <div class="commentId" hidden><%= comment._id %></div>
                <%= comment.user %>  | <%= moment(comment.date).format('YYYY-MM-DD HH:mm:ss') %><br>
                <%#= comment._id %>
                
                <b style="color:blue"><%= comment.text %></b> <br>
                
                <% if(comment.file) {%>
                  <div class="file">
                    <%- include('./include/fileShow.ejs',{record:record,file:comment.file,index:record.children.length-index-1,user:user}) %>
                  </div>
                <% } %>

                <% if (Array.isArray(comment.children)) { %>    <!--check ensure array-->
                  <% if (comment.children.length > 0 ) { %>
                    <% comment.children.reverse().forEach(function(review,index){ %>
                      <%= review.user %>
                      <%= review.text %>
                      <% if (review.responsible) { %>
                        跟踪负责人：<%= review.responsible %>
                      <% } %>
                      <br>
                    <% }) %>
                  <% } %>  
                <% } %> 

                <!-- button for removing this comment -->
                <% if(comment.user == user.username || user.role == 'admin'){ %>
                  <a href="/record_patrol/<%= record.id %>/comment_remove/<%= record.children.length - index -1 %>"><button >删除该评论</button></a>
                <% } %>
                <br>

                <div class="showReviewComment btn"><h4>
                    <button>进行批注>></button>
                    <div class="recordId" hidden><%= record.id %></div>
                    <div class="commentId" hidden><%= comment._id %></div>
                </h4></div>



          </div>
          <hr>
        <% }); %>  <!--forEach-->
        <!--End 每个评论-->


    </div>  <!-- div class="comments"-->




























    </div>
    <div ></div>

  </div>


  <!--End 显示一条记录-->


<% })  %>

<script src="/public/js/record_patrol.js"></script>

</body>
</html>