<h1>My Account</h1>

Username: <%= user.username %> <br>
Nickname: <%= user.nickname %> <br>
Cellphone: <%= user.cellphone %> <br>
Password: <%= user.password %> <br>
Role:     <%= user.role %> <br>
注册时间： <%= user.date %> <br>
最近修改时间：<%= user.dateUpdate %> <br>

<a href="/my/account/edit"> 修改我的帐号登录信息</a>
