

<% records.sort(function(a,b){return a.dateUpdate-b.dateUpdate}).reverse().forEach(function(record){ %>

  作者User:<%= record.user %>&nbsp;|&nbsp;
  Id:<%= record.id %><br>
  创建:<%= moment(record.dateUpdate).format('YYYY-MM-DD HH:mm:ss') %>&nbsp;|&nbsp;
  更新:<%= moment(record.date).format('YYYY-MM-DD HH:mm:ss') %><br>

  专业Profession:<%= record.profession %><br>

  标题Title:<%= record.title %><br>
  说明文字Text:<%= record.text %><br>
  图注Caption:<%= record.caption %><br>
  文件file: <%= record.file %><br>
  评论数Comments: <%= record.children.length %><br>


  <a href="/record_show/<%=record.id%>">ShowDetail</a>
  <hr>
<% }); %>
