<!DOCTYPE html>
<html>


<head>
  <%- include("./include/head.ejs") %>
</head>

<body>
  <%- include("./include/header.ejs") %>

  
  <div>搜索: <span style="color:blue;"><%= queryString %></span></div>
  <div>共找到<%= count  %>条记录：(从2022年11月23日起)</div>

  <% if (pages>1 && page) {  %>
    <ul class="pagination">
      <% for (let p=1; p<=pages; p++) { %>
        <li class="page-item"><a class="page-link" href="/record_patrol_list/q/text/<%=p%>">
          <% if(page == p) { %>
          <span style="color:red"><%= p %></span>
          <% } else { %>
          <span ><%= p %></span>
          <% } %>
    
        </a></li>
      <% } %>
    </ul>
    <% } %>


<% records.sort(function(a,b){return a.dateUpdate-b.dateUpdate}).reverse().forEach(function(record,index){ %>
  <hr style="height: 5px;background-color:#AAA; margin-top: 5px;">
  <div><span class="badge badge-warning"><%= index + (page-1)*20 + 1 %></span></div>

  <div class="body">
        <%= moment(record.dateUpdate).format('YYYY-MM-DD HH:mm:ss') %>&nbsp;&nbsp;| &nbsp;<%= moment(record.date).format('YYYY-MM-DD HH:mm:ss') %> <br>
        <%= record.user %>&nbsp;&nbsp; | <%= (record.patrolType=='routine')?'日常':'安全' %>  &nbsp;&nbsp; | &nbsp; <%= record.zone %>   <br>      
        <a href='<%= "/record_patrol/" + record._id %>'+><span class="myt"><span ><%= record.text %></span></span></a> 
  </div>

      
    <div class="files">
        <% if(record.files.length > 0) {%>
            <span>附件：<b><%=record.files.length  %></b></span>
            <% record.files.reverse().forEach(function(file,index){ %>
                <span><%= file.text %></span> |
            <% }) %>
        <% } %>
    </div>  <!--div class="files"-->
    <br>

    <div >
        评论:<%= record.children.length %>
        <% record.children.sort().reverse().forEach(function(comment,index){ %>
          <span >
                <%= comment.user %>  | <%= moment(comment.date).format('YYYY-MM-DD HH:mm:ss') %><br>
                <%= comment.text %>
          </span>
        <% }); %>  <!--forEach-->
    </div>  <!-- div class="comments"-->

    <div style="float: right;"><a href='<%= "/record_patrol/" + record._id %>'>>>></a></div><br>


<% })  %>

</body>
</html>