<% if (comment===undefined) { var comment = {}} %>


====has file===<br>
<% if(['jpg','png','tiff','jpeg','gif'].includes(comment.file.split('.').pop().toLowerCase())) {%>
  <%= comment.file %> <br><br>
  <a href='/upload/<%= comment.file %>'>
    <img src="/upload/<%= comment.file %>" alt="<%= comment.file %>" width="400"  >
  </a>
<% } else if (['mp4','ogg','webm', 'mov','wmv','avi','flv','swf','mkv','mpeg'].includes(comment.file.split('.').pop().toLowerCase())) { %>
  <a href='/upload/<%= comment.file %>'>
    <%= comment.file %> <br><br>
    <video width='320' height='240' controls>
      <source src='/upload/<%= comment.file %>' type="video/mp4">
      Your browser does not support the video tag. Please download to play with proper software.
    </video>
  </a>
<% } else { %>
  <a href='/upload/<%= comment.file %>'>Click to open or download:   <%= comment.file %></a> <br><br>
<% }  %>
