app/patrol/routes/journal/views/form.ejs


<%- include('../../../views/include/head.ejs') %>


<form action="/j/form" method="POST">   

        <% if(j._id) { %>
            <h3>ID:<%= j._id %></h3><br>
            <input type="text" name="id" id="id" value="<%= j._id %>" hidden/> 
        <% } else { %>
            <input type="text" name="id" id="id" value="<%= j._id %>" hidden/> 
        <% } %>         
        用户名：<%= user.username %><br>
        <input type="text" name="user" id="user" value="<%= user.username %>" hidden/><br>

        专业：<input type="text" name="profession" id="profession" value="<%= j.profession %>" /><br>


        日期：
        <input type="date" name="day" id="day" value="<%= j.day || moment(j.day).format('YYYY-MM-DD') %>"/><%= moment(j.day) %>        <br>
  

        天气：<input type="text" name="weather" id="weather" placeholder="天气" value="<%= j.weather %>"/><br>
        气温：<input type="text" name="temp" id="temp" placeholder="气温" value="<%= j.temp %>"/><br>

        工程进度控制情况：<textarea name="schedule" id="schedule" placeholder="工程进度控制情况"><%= j.schedule %></textarea><br>
        工程质量控制情况：<textarea name="quality" id="quality" placeholder="工程质量控制情况"><%= j.quality %></textarea><br>
        工程材料审查情况：<textarea name="material" id="material" placeholder="工程材料审查情况"><%= j.material %></textarea><br>
        工程建设其他情况：<textarea name="others" id="others" placeholder="工程建设其他情况"><%= j.others %></textarea><br>

        编写人：<input type="text" name="author" id="author" placeholder="编写人" value="<%= j.author %>"/><br>
        总监：<input type="text" name="supervisor" id="supervisor" placeholder="总监" value="<%= j.supervisor %>"/><br>


        <% if(j._id) { %>
            <input type="submit" value="提交更新"/>       <br>     
        <% } else { %>
            <input type="submit" value="提交创建"/>       <br>     
        <% } %>   

        上次保存：<%= moment(j.dateUpdate).fromNow() %> 。
        <br>
        <%= moment(j.dateUpdate)  %>
</form>


