app/patrol/routes/views/home.ejs


<form action="/j/home" method="POST">
    <input type="date" name="start" id="start" placeholder="开始日期" value="<%= s.start || moment().format('YYYY-MM-DD') %>" />
    <input type="date" name="end" id="end" placeholder="结束日期" value="<%= s.end || moment().format('YYYY-MM-DD')%>" />
    <input type="text" name="user" id="user" placeholder="用户名" value="<%= s.user %>" />
    <input type="submit" value="提交" />
</form>

<hr>

<a href="/j/form">生成新日记</a>


<% journals.forEach(function(j,index){ %>
    <hr>
    <a href="/j/show/<%= j._id %>"><%= j.day %></a>    
    <%= j.user %>
    <%= j.schedule %>
<% }) %>